/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require bootstrap-responsive
 */

body { padding-top: 60px; }

div.character-shape {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
}
div.character-description {
  font-size: 14px;
  text-align: center;
}

@media (max-width: 979px) {
  .nav-btn .btn {
    display: block;
    margin-bottom: 5px;
  }
}

.row-fluid form [class*="span"]:nth-child(2) {
	margin-left: 0;
}

.custom-inline input[type=radio] {
	margin: 0 4px 4px 0;
}

input.btn-expand {
	width: 100% !important;
}
a.btn-expand {
	display: block;
}
